<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: March 21, 2024</h3>
    <h4>
      Lessons 
      <a href="https://datacarpentry.org/R-ecology-lesson/index.html" target="_blank" rel="noopener noreferrer"> Data Analysis in R</a> (Part I) 
    </h4>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://0dio855mq5o.typeform.com/to/uS7T46Y6" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>09:00</td>  <td>Start - Introduction to the workshop, instructor, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:15</td>  <td><b>Data Analysis in R</b>: make sure you checked your <a href="https://datacarpentry.org/R-ecology-lesson/index.html#preparations" target="_blank" rel="noopener noreferrer">setup</a> </td> </tr>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>11:15</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: March 27, 2024</h3>
    <h4>
      Lessons 
      <a href="https://datacarpentry.org/R-ecology-lesson/index.html" target="_blank" rel="noopener noreferrer"> Data Analysis in R</a> (Part II) 
    </h4>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/index.html">Data Analysis in R</a></td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: April 4, 2024</h3>
    <h4>
      Lessons 
      <a href="https://datacarpentry.org/R-ecology-lesson/index.html" target="_blank" rel="noopener noreferrer"> Data Analysis in R</a> (Part III) 
    </h4>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/index.html">Data Analysis in R</a></td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Data Analysis in R (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day three</td> 
      </tr>
     </table>
</div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: April 15, 2024</h3>
    <h4>
      Lessons 
      <a href="https://swcarpentry.github.io/shell-novice/" target="_blank" rel="noopener noreferrer">Data Visualization in R</a>
    </h4>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/index.html">Data Visualization in R</a></td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Data Visualization in R (continued)</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Data Visualization in R (continued)</td> 
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Data Visualization in R (continued)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day four</td> 
      </tr>
     </table>
  </div>
</div>
